body{
    font-family: 'Silkscreen', cursive;
    margin: 0;
}
a{
    text-decoration: none;
    color: rgb(15, 15, 15);
}
header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color: rgb(214, 130, 130);
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 250px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white
}

@media (max-width:700){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10 px 0px;
    }
}